@import './globalPage.scss';
@import './commonFlexStyles.scss';

// 页面最上方的页面名的样式
@mixin funTitle{
    width: 100%;
    @include flex-center-y;
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 20px;
    font-weight: 550;
    user-select: none;
    color: $title-font-color;
}

@mixin ipt-focus{
    outline: none;
    border: none;
}

@mixin myScrollbar{
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background: #cdcaca;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
        border-radius: 10px;
    }
}
.noBtn{
    border: 0;
    background-color: transparent;
}

.banStyle[disabled]{
    cursor: not-allowed;
    pointer-events: none;
}