@import './globalPage.scss';
@import './commonFlexStyles.scss';

// 页面最上方的页面名的样式
@mixin funTitle{
    width: 100%;
    @include flex-center-y;
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 20px;
    font-weight: 550;
    user-select: none;
    color: $title-font-color;
}

@mixin ipt-focus{
    outline: none;
    border: none;
}

@mixin myScrollbar{
    $track-color: #f1f1f1;
    $thumb-color: #cac0c0;
    // 适配FireFox
    // scrollbar-width: thin;
    // scrollbar-color: $thumb-color $track-color;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumb-color;
        border-radius: 10px;
        &:hover{
            background: #bbafaf;
        }
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $track-color; 
        border-radius: 10px;
    }

    &:-webkit-scrollbar-button:horizontal {
        display: none;
    }

    &::-webkit-scrollbar-button:vertical {
        display: none;
    }
}
.noBtn{
    border: 0;
    background-color: transparent;
}

.banStyle[disabled]{
    cursor: not-allowed;
    pointer-events: none;
}