@font-face {
  font-family: 'iconfont';  /* Project id 4627509 */
  src: url('//at.alicdn.com/t/c/font_4627509_re7s1r5sv3p.woff2?t=1726282901353') format('woff2'),
       url('//at.alicdn.com/t/c/font_4627509_re7s1r5sv3p.woff?t=1726282901353') format('woff'),
       url('//at.alicdn.com/t/c/font_4627509_re7s1r5sv3p.ttf?t=1726282901353') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e635";
}

.icon-wode:before {
  content: "\e65e";
}

